<!DOCTYPE html>
<html lang="en">

  <head>


    <title>homepage</title>
      {% load static %}





  </head>

  <body>

    <!-- Navigation -->
    
        <a class="navbar-brand" href="{% url 'index' %}"><b><i><marquee> KENDRIYA VIDYALAYA NO.2 SHIFT RESULT EMULATOR</marquee></i></b></a>
        

    <!-- Page Content -->
    <div class="container">



      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
              <a href="{% url 't_clas' request.user.teacher.id 1 %}">
                <img class="card-img-top" src="{% static 'info/images/attendance2.jpg' %}" alt="">
              </a>
              <div class="card-body">
              <h4 class="card-title">Attendance</h4>
              <p class="card-text">Enter the attendance of the students based on the class they are in. There is also
                  the provision to edit the attendance of a whole class or student individually.</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" role="button" href="{% url 't_clas' request.user.teacher.id 1 %}"> Enter Attendance</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
              <a href="{% url 't_clas' request.user.teacher.id 2 %}">
                <img class="card-img-top" src="{% static 'info/images/marks.jpg' %}" alt="">
              </a>
              <div class="card-body">
              <h4 class="card-title">Marks</h4>
              <p class="card-text">Enter the marks of the students based on the class they are in. This includes
                    Internals, events and SEE. The marks of the students can also be edited.</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" role="button" href="{% url 't_clas' request.user.teacher.id 2 %}">Enter Marks</a>
            </div>
          </div>
        </div>

        

        

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Logout Modal-->
    
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <a class="btn btn-primary" href="/accounts/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>



  </body>

</html>
